.head-block {
  margin-top: 137px;
  width: 100vw;
  max-width: 1440px;
  height: 627px;
  background-image: url("../../assets/head_block_background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content {
  position: absolute;
  top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  height: max-content;
}
.content h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 600px;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 68.1px;
  color: rgba(5, 5, 5, 1);
}
.content h2 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight: 600px;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 68.1px;
  color: rgba(255, 0, 0, 1);
}
.content h4 {
  max-width: 522px;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 28px;
  color: rgba(5, 5, 5, 1);
}
.content button {
  margin-top: 30px;
  width: 275px;
  height: 57px;
  border-radius: 30px;
  background-color: rgba(255, 0, 0, 1);
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 24.52px;
  color: rgba(255, 255, 255, 1);
  transition: 300ms;
}
.content button:hover {
  transition: 300ms;
  background: rgba(223, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
}
