.about-block {
  margin-top: 53px;
  padding-top: 97px;
  width: 100vw;
  max-width: 1200px;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about-block img {
  width: 426.26px;
  height: 420px;
}
.content-block {
  width: 100%;
  max-width: 570px;
  display: flex;
  flex-direction: column;
}
.content-block h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 24.52px;
  color: rgba(144, 144, 144, 1);
  text-transform: uppercase;
}
.content-block h2 {
  margin: 12px 0 0 0;
  font-size: 38px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 49.03px;
  color: rgba(5, 5, 5, 1);
}
.content-block h4 {
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 25px;
  color: rgba(5, 5, 5, 1);
}
.content-block h4:not(:first-of-type) {
  margin: 15px 0 0 0;
  font-weight: 600;
}
.content-block h4:not(:first-of-type) strong {
  color: rgba(255, 0, 0, 1);
}
.content-block button {
  margin-top: 30px;
  width: 275px;
  height: 57px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 0, 0, 1);
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 24.52px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 300ms;
}
.content-block button:hover {
  transition: 300ms;
  background: rgba(223, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
}
