.address-block {
  margin-top: 150px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.address-block img {
  width: 570px;
  height: 680px;
}
.contact-info-block {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}
.contact-info-block h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 49.03px;
  color: rgba(5, 5, 5, 1);
}

.address-info-block {
  display: flex;
  flex-direction: column;
}
.address-info-block-item {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 28px;
  color: rgba(5, 5, 5, 1);
}
.address-info-block-item:not(:first-of-type) {
  margin-top: 5px;
}
.contact-us-block {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.contact-us-block a {
  margin-top: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 25px;
  color: rgba(5, 5, 5, 1);
}
.contact-us-block a:first-of-type {
  margin-top: 15px;
}
.watch-us-block {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.link-block {
  margin-top: 15px;
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.link-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.link-item img {
  width: 24px;
  height: 24px;
}
