.info-block {
  margin-top: 150px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-block {
  max-width: 570px;
}
.content-block h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 24.52px;
  color: rgba(144, 144, 144, 1);
  text-transform: uppercase;
}
.content-block h3 {
  margin: 12px 0 0 0;
  font-size: 36px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 49.03px;
  color: rgba(5, 5, 5, 1);
}
.content-block h5 {
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 25px;
  color: rgba(5, 5, 5, 1);
}
.content-block h5:not(:first-of-type) {
  margin: 15px 0 0 0;
  font-weight: 600;
}
.content-block h5:not(:first-of-type) strong {
  color: rgba(255, 0, 0, 1);
}
